@model dynamic

@{
    ViewData["Title"] = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserId = Context.Session.GetInt32("UserId");
    var isAdmin = Context.Session.GetString("IsAdmin") == "true";
}

<div class="container mt-5">
    <h2 class="text-center text-break">@Model.Topic</h2>
    <div class="d-flex justify-content-center align-items-center text-muted mb-3">
        <span class="me-3">
            <i class="fas fa-user"></i> @Model.Account.Username
        </span>
        <span class="me-3">
            <i class="far fa-calendar"></i> @Model.Create_At.ToString("dd/MM/yyyy")
        </span>
        <span class="me-3">
            <i class="fas fa-eye"></i> @Model.View_Number lượt xem
        </span>
        <span>
            <i class="fa-solid fa-tag"></i> @Model.Category.Name_Category
        </span>
    </div>
    
    @if (!string.IsNullOrEmpty(Model.Image_Posted))
    {
        <div class="text-center">
            <img src="~/images/@Model.Image_Posted" 
                 class="img-fluid rounded" 
                 alt="Ảnh bài viết" 
                 asp-append-version="true"/>
        </div>
    }

    <div class="mt-4 text-break">
        <div style="white-space: pre-wrap; font-size: 20px;" class="mb-5">@Model.Content</div>
    </div>

    @if (currentUserId == Model.Account?.Id_User || isAdmin)
    {
        <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id_Post" class="btn btn-warning">Chỉnh sửa</a>
    }

    @if (currentUserId == Model.Account?.Id_User || isAdmin)
    {
        <form asp-controller="Post" 
              asp-action="DeletePost" 
              asp-route-id="@Model.Id_Post" 
              method="post" 
              style="display: inline;"
              onsubmit="return confirm('Bạn có chắc chắn muốn xóa bài viết này không?');">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Xóa</button>
        </form>
    }
</div>